* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    min-height: 100vh;
   
}

header {
    background-color: #ff2222;
    color: #000000;
    padding: 30px;
    text-align: center;
}
.main-header {
    display:flex ; 
    align-items: center; 
    flex-direction: column;
}

.logo {
    width: 60px; 
    height: auto; 
    border-radius: 5px;
  
}

nav ul {
    margin-top: 10px;
}

nav ul li {
    display: inline-block; 
    margin-right: 20px;
  
    
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.main-content {
    padding: 20px;
    text-align: center; 
  }
  
  .main-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .purpose-section, .about-section, .miembros {
    margin-bottom: 10px;
  }
  
  .persona {
    margin: 10px;
    text-align: center
  }
  
  .persona img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 5px;
     
  }
  
  .purpose-section p {
    color: #010101;
  }
 
footer {

    background-color: #ff2222;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin: auto;
  }

  .main-Footer {
    width: 80%; 
    text-align: center;
  }

.contact {
    margin: 10px;
    display: flex;
    display: inline-block;
    
}

.contact > p {
    color: #000000;
    display: inline-block;

}

.contact>img{
    width: 30px;
    height: 30px;
    display: inline;
    border-radius: 30px;
}